.footer{
  background-color: #F2F2F2;
  height: 400px;
}

.footer-content {
  display: flex;
  background-color: #F2F2F2;
  align-items: center;
}

.lower-footer {
  border-bottom: 1px solid lightgray;
}

.lower-footer p {
  margin-left: 25px;
  height: 50px;
  font-size: 14px;
  color: gray;
}

.lower-footer{
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.lower-footer ul li a {
font-size: 14px;
color: gray;
}

.lower-footer ul li a:hover {
text-decoration: underline;
}

.lower-left-footer{
  display: flex;
}

.lower-left-footer li {
  margin-left: 25px;
}

.lower-right-footer {
  display: flex;
}

.lower-right-footer li {
  margin-right: 25px;
}